<footer>


          <nav>
          | <a href="https://www.linkedin.com/in/mattafuoco/">LinkedIn</a> |
            <a href="https://mattafuoco.myportfolio.com/">myportfolio</a> |
            <a href="https://www.behance.net/mattafuoco?tracking_source=search_projects%7Cmattafuoco">behance portfolio</a> |
            <a href="https://www.instagram.com/mattafuoco/">Instagram</a> |
            <a href="https://sketchfab.com/mattafuoco">Sketch Fab</a> |
         </nav>
         <br>
 <p>Designed by <a href="../gerrishdesignllc/"> Gerrish Design LLC &#169; 2022 </a></p>
         
         <p>
            <a href="https://validator.w3.org/check?uri=referer" style="text-decoration: none" id="validation_link_html">
            <img src="images/button_validation_html5.png" width="88" height="31" alt="Link to HTML validator">
            </a>
            <a href="https://jigsaw.w3.org/css-validator/check/referer" style="text-decoration: none" id="validation_link_css">
            <img src="images/button_validation_css.png" width="88" height="31" alt="Link to CSS validator">
            </a>
         </p>
        <script>
		 document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
         document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
		 </script>

</footer>