body
{
  font-family: Garamond;
  color: #E98A15;
  
  background-color: #003B36;
  border: 0 !important;  
}
.center{
display:block;
margin-left:auto;
margin-right:auto;
border-radius:50%;
}
.centered{
display:block;
margin-left:auto;
margin-right:auto;
border-radius:50%;
text-align:center;
}
.left{
margin-left:auto;
}


  html {
  box-sizing: border-box;
}
figcaption{
font-size:20px;
}

.Introduction{
font-size: 50px;
margin-left:250px;
margin-right:250px;
}
 
#timeoutput
      {
        font-family: Garamond;
        text-align: left;
        color:#FB6C6C;
      }
      #input
      {
        font-family: Garamond;
        text-align: left;
        color:#FB6C6C;
      }
.left{
 text-align:left;
 margin-left: 20px;
}
ul#horizontal-list { 
   display:inline;
   text-align: center;
}
nav{
  font-family: Garamond;
  text-align: center;
}
.button2:hover{
color:#ECE5F0;
background-color:#8c530d
}
a:link , a:visited{
  color:#ECE5F0;
  text-decoration:none;
}
a:hover{
  color:#A5F8D3;
  background-color: transparent;
  text-decoration: none;
}
header h1
{
  font-family: Optima;
  text-align: center;
  color: #E98A15;
}
main h1
{
  font-family: Optima;
  text-align: center;
  color: #E98A15;
}
main h2
{
  font-family: Optima;
  text-align: center;
  color: #A5F8D3;
}
main figure
{
  font-family: Garamond;
  text-align: center;
  color: #E98A15;
}
main h3
{
  font-family: Optima;
  text-align: left;

  color:#A5F8D3;
}
h3 a:link{
text-decoration: underline;
}
main p
{
    font-family: Garamond;
  
    text-align: center;
    color:#F45B69;
    text-decoration: none;
}
main con1
{
  margin-left: 50px;
  margin-right: 50px;
  font-family: Garamond;
  color:#59114D;
}
main con2
{
  margin-left: 50px;
  margin-right: 50px;
  font-family: Garamond;
  color:#59114D;
}
main con3
{
  margin-left: 50px;
  margin-right: 50px;
  font-family: Garamond;
  color:#59114D;
}
main con4
{
  margin-left: 50px;
  margin-right: 50px;
  font-family: Garamond;
  color:#59114D;
}
main sig
{
  margin-left: 50px;
  margin-right: 50px;
  font-family: Garamond;
  color:#E98A15;
}
main ut
{
  font-family: Garamond;
  color:#6B2737;
}
ol
{
  font-family: Garamond;
  color:#ECE5F0;
}
table{

  font-family: Garamond;
  color: #59114D;
}

table tr:nth-of-type(odd)
{
    background-color: #59114D;
}
table tr:nth-of-type(even){
    background-color: #ECE5F0;
}
.button2 {
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #E98A15;
  color: #FFFFFF;
  padding: 1px 10px 1px 10px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 25px;
}
.margin{
margin-left:20px;
}
.network{
text-align:left;
font-size:20px;
margin-left:40px;
margin-right: 400px;
}
th
{
  background-color: #E98A15;
}
.surround{
border-radius:50px;
border-top:double;
border-bottom:double;
border-color:white;
margin-left:250px;
margin-right:250px;
padding:25px;
}
.single{
margin-left:auto;
padding-left:20px;
}
.circle{
border-radius:50%;
margin-left:20px;
padding-left:20px;
width:290px;
}

p
{
  font-family: Garamond;
  text-align: center;
  color:#ECE5F0;
  text-decoration: none;
}

.Introduction{
font-size: 20px;
margin-left:auto;
margin-right:auto;
}

.textbox
{
  border: 3px solid #FB6C6C;
  border-radius: 4px;
}
table, th, td 
{
  border:1px solid black;
}
.center
{
  margin-left: auto;
  margin-right: auto;
}
.centered_div
{
  margin-left: auto;
  margin-right: auto;
  display: table;
  padding-left: 0px;
}
form
{
text-align: center;
background-color: #ECE5F0;
border-color: #000000;
border-style: inset;
margin-left: 180px;
margin-right: 180px;
padding: 10px;
}
.button{
font-size:13px;
color: #E4FDE1;
background-color: #456990
}
.button:hover{
color:#19CEB5;
}

#slides img
{
  height: 250px;
  display: none;
  align-items: center;
}

* 
{
  box-sizing: border-box;
}
.container {
  position: relative;
  
}
.mySlides {
  display: none;
  
}
.cursor {
  cursor: pointer;
}
.prev{
  cursor: pointer;
  top: 40%;
  width: 300px;
  padding: 6px;
  left: 0%;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  cursor: pointer;
  position: relative;
  top: 40%;
  width: 300px;
  padding: 6px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
 
  text-align:center;
}
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.row{
display:flex;
flex-wrap:wrap;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
#type
{
    font-family: Garamond;
    color:#FB6C6C;
    text-align: center;
}
#polygons
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 8px;
}
li{
font-size:20px;
}
footer
{
    font-family: Garamond;
    font-size:18px;
    text-align: center;
    color:#E98A15;
    text-decoration: none;
    border: 0 !important;
}

