 <header>
         <h1>&#9824; Ken Gerrish ITIS3135 &#9824;</h1>
         <nav>
         &#9824; <a href="./">Home</a> &#9824;
         <a href="introduction.html">Introduction</a> &#9824;
         <a href="../">UNCC Home Page</a> &#9824;
         <a  href="contract.html">Contract</a> &#9824;
         <a href="tables.html">Tables</a> &#9824;
         <a href="forms.html">Forms</a> &#9824;
         <a href="gerrishdesignllc/">Brand</a> &#9824;
         <a href="stuff/CRAP%20PAGE%20😎.htm">Crap</a> &#9824;
         <a href="website_evaluations.html">Website Evaluation</a> &#9824;
         <a href="firstscripts.html">First Scripts</a> &#9824;
         <a href="polygons.html">Polygons</a> &#9824;
         <a href="calculator_try.html">Calculator_try</a> &#9824;
         <a href="calculator.html">Calculator</a> &#9824;
         <a href="arrays.html">Arrays</a> &#9824;
         <a href="accessibility/">Accessibility</a> &#9824;
         <a href="slideshow.html">Slideshow</a> &#9824;
         <a href="project_rand.html">Project Design</a> &#9824;
         <a href="project/./">Project</a> &#9824;
         <a href="hobby/./">Hobby</a> &#9824;
         <a href="brand/./">Expand Brand</a> &#9824;
         <a href="brand/contact.html">Brand Contact</a> &#9824;
         <a href="brand/services.html">Brand Services</a> &#9824;
         <a href="activity10.html">Activity 10</a> &#9824;
         <a href="gerrish-activity11.html">Activity 11</a> &#9824;
         <a href="gerrish-activity12.html">Activity 12</a> &#9824;
         <a href="peer_review.html">Peer Review</a> &#9824;
         <a href="Activity13/gerrish-activity13.html">Activity 13</a> &#9824;
         <a href="Activity14/gerrish-Activity14.html">Activity 14</a> &#9824;
         </nav>
      </header>