 <header>
         <h1>&#9824; Ken Gerrish ITIS3135 &#9824;</h1>
         <nav>
         &#9824; <a href="./">Home</a> &#9824;
         <a href="introduction.html">Introduction</a> &#9824;
         <a href="../">UNCC Home Page</a> &#9824;
         <a  href="contract.html">Contract</a> &#9824;
         <a href="tables.html">Tables</a> &#9824;
         <a href="forms.html">Forms</a> &#9824;
         <a href="brand.html">Brand</a> &#9824;
         <a href="CRAP/CRAP%20PAGE%20😎.htm">Crap</a> &#9824;
         <a href="website_evaluations.html">Website Evaluation</a> &#9824;
         <a href="first-scripts.html">First Scripts</a> &#9824;
         <a href="polygons.html">Polygons</a> &#9824;
         <a href="calculator_try.html">Calculator_try</a> &#9824;
         <a href="calculator.html">Calculator</a> &#9824;
         <a href="arrays.html">Arrays</a> &#9824;
         <a href="accessibility/activity_accessibility.html">Accessibility</a> &#9824;
         <a href="slideshow.html">Slideshow</a> &#9824;
         </nav>
      </header>